<div class="auth-container">
  <div class="auth-logo-wrapper">
    <img src="logo.png" alt="logo" class="auth-logo-icon" />
    <p class="auth-logo-text">Librify</p>
  </div>
  <div class="auth-form-wrapper">
    <h1 class="auth-form-title">Verify your OTP</h1>
    <p class="auth-form-subtitle">
      Please enter the one-time password (OTP) sent to your email address to
      verify your account and continue to reset password.
    </p>
    <form>
      <mat-form-field class="form-field">
        <mat-label>OTP</mat-label>
        <input matInput type="text" />
        <mat-icon matSuffix>vpn_key</mat-icon>
      </mat-form-field>

      <button mat-flat-button type="submit" class="w-full">
        <mat-icon>check_circle</mat-icon>
        Verify OTP
      </button>

      <p class="auth-form-suggestion">
        Didn't receive the code?
        <span class="auth-form-suggestion-link cursor-pointer">
          Resend OTP
        </span>
      </p>
    </form>
  </div>
</div>
