<div class="auth-container">
  <div class="auth-logo-wrapper" routerLink="">
    <img src="logo.png" alt="logo" class="auth-logo-icon" />
    <h1 class="auth-logo-text">Librify</h1>
  </div>
  <div class="auth-form-wrapper">
    <div class="auth-form-left-container">
      <div class="auth-form-left">
        <h1 class="auth-form-title">Login to your account</h1>
        <p class="auth-form-subtitle">
          Access your Librify account and continue your reading journey.
        </p>
        <form>
          <mat-form-field class="auth-form-field">
            <mat-label>Email</mat-label>
            <input matInput type="email" />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="auth-form-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" />
            <mat-icon matSuffix>visibility_off</mat-icon>
          </mat-form-field>

          <div class="auth-form-remember">
            <div>
              <mat-checkbox></mat-checkbox>
              <span>Remember Me</span>
            </div>
            <a routerLink="/forgot-password"> Forgot Password? </a>
          </div>

          <button mat-flat-button type="submit" class="w-full">
            <mat-icon>login</mat-icon>
            <span>Login to Account</span>
          </button>

          <p class="auth-form-suggestion">
            Don't have an account?
            <a routerLink="/register" class="auth-form-suggestion-link"
              >Register</a
            >
          </p>
        </form>
      </div>
    </div>

    <div class="auth-form-right-container">
      <div class="auth-form-right">
        <img
          src="{{
            appTheme() === 'dark' ? 'login-dark.png' : 'login-light.png'
          }}"
          alt="login-image"
          class="auth-form-right-image" />
      </div>
    </div>
  </div>
</div>
