<div
  class="flex-center-col min-w-full min-h-full bg-body-light dark:bg-body-dark">
  <div class="flex-center mt-4 md:mt-0">
    <img src="logo.png" alt="logo" class="w-12 md:w-16 h-12 md:h-16 mx-auto" />
    <p
      class="text-base md:text-xl font-medium text-heading-light dark:text-heading-dark">
      Librify
    </p>
  </div>
  <div
    class="bg-container-light dark:bg-container-dark w-[85%] md:w-[60%] lg:w-[40%] xl:w-[30%] p-6 md:p-8 mb-6 md:mb-0 rounded-lg">
    <p
      class="text-base md:text-xl font-medium text-heading-light dark:text-heading-dark mb-2">
      Login to your account
    </p>
    <p class="text-xs md:text-sm text-label-light dark:text-label-dark pb-4">
      Access your librify account and continue your reading journey.
    </p>
    <form>
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" />
        <mat-icon matSuffix>visibility_off</mat-icon>
      </mat-form-field>

      <div
        class="flex-center-between font-medium text-xs md:text-sm -mt-2 mb-1">
        <div>
          <mat-checkbox class="-ml-2"></mat-checkbox>
          <span class="text-primary-light dark:text-primary-dark"
            >Remember Me</span
          >
        </div>
        <a
          routerLink="/forgot-password"
          class="text-primary-light dark:text-primary-dark">
          Forgot Password?
        </a>
      </div>

      <button mat-flat-button type="submit" class="w-full">
        Login in to account
      </button>

      <div
        class="text-xs md:text-sm text-label-light dark:text-label-dark mt-4">
        Don't have an account?
        <a
          routerLink="/register"
          class="text-primary-light dark:text-primary-dark font-medium"
          >Register</a
        >
      </div>
    </form>
  </div>
</div>
