<div class="auth-container">
  <div class="auth-logo-wrapper">
    <img src="logo.png" alt="logo" class="auth-logo-icon" />
    <p class="auth-logo-text">Librify</p>
  </div>
  <div class="auth-form-wrapper">
    <h1 class="auth-form-title">Login to your account</h1>
    <p class="auth-form-subtitle">
      Access your librify account and continue your reading journey.
    </p>
    <form>
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" />
        <mat-icon matSuffix>visibility_off</mat-icon>
      </mat-form-field>

      <div class="auth-form-remember">
        <div>
          <mat-checkbox class="-ml-2"></mat-checkbox>
          <span>Remember Me</span>
        </div>
        <a routerLink="/forgot-password"> Forgot Password? </a>
      </div>

      <button mat-flat-button type="submit" class="w-full">
        <mat-icon>login</mat-icon>
        Login in to account
      </button>

      <p class="auth-form-suggestion">
        Don't have an account?
        <a routerLink="/register" class="auth-form-suggestion-link">Register</a>
      </p>
    </form>
  </div>
</div>
