<section class="error">
  <div class="error-container">
    <div class="error-wrapper">
      <h1 class="error-title">500</h1>
      <p class="error-subtitle">Oops! Something went wrong on our end.</p>
      <p class="error-text">
        Please try refreshing the page in a few minutes. If the issue persists,
        contact us at
        <a href="mailto:bitversesolution@gmail.com" class="error-text underline"
          >bitversesolution&#64;gmail.com</a
        >.
      </p>
    </div>
  </div>
</section>
