<div
  class="flex flex-col md:flex-row bg-body-primary-light dark:bg-body-primary-dark md:gap-x-16">
  <div class="flex flex-col md:flex-row gap-1 md:w-[40%]">
    <div class="shadow-md">
      <img
        src="book-details.png"
        alt="Book Cover"
        class="w-[400px] h-[500px]" />
    </div>
    <div class="flex md:flex-col justify-between">
      <div class="flex md:flex-col">
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>bookmark</mat-icon>
        </button>
      </div>
      <div class="flex md:flex-col">
        <button mat-icon-button>
          <mat-icon>preview</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="flex flex-col pt-4 md:pt-0 md:w-[60%]">
    <h2
      class="text-lg lg:text-xl font-medium text-title-light dark:text-title-dark">
      Data Structures and Algorithms Made Easy
    </h2>
    <p
      class="text-base text-text-light dark:text-text-dark font-medium lg:mt-1">
      Narasimha Karumanchi
    </p>

    <div
      class="flex items-center text-sm text-text-light dark:text-text-dark lg:mt-2">
      <span>1,238 Borrowed</span>
      <span class="mx-2">•</span>
      <span class="flex items-center">
        <app-rating-stars class="-mt-0.5" />
        <span class="ml-1 text-[#FFD700]">4.5</span>
      </span>
    </div>

    <h1
      class="text-base pt-4 font-medium text-title-light dark:text-title-dark">
      Description
    </h1>
    <p class="text-text-light dark:text-text-dark mt-2 text-sm">
      In today's data-driven world, mastering data structures and algorithms is
      essential for both aspiring and experienced programmers. Data Structures
      and Algorithms: A Comprehensive Guide is a meticulously crafted resource
      designed to equip readers with the knowledge and skills needed to write
      efficient, high-performance code. This book provides a deep dive into the
      fundamental concepts that power modern software development, offering
      clear explanations, practical examples, and real-world applications.
      Readers will explore a wide range of essential data structures—including
      arrays, linked lists, stacks, queues, trees, and graphs—along with the
      algorithms that bring them to life. From sorting and searching to dynamic
      programming and graph traversal, this guide covers the techniques
      necessary to solve complex problems with confidence. Whether you're
      preparing for coding interviews, optimizing software performance, or
      expanding your problem-solving toolkit, this book offers a structured and
      engaging approach to one of the most critical areas of computer science.
    </p>

    <div class="mt-5 flex justify-center md:justify-normal gap-4">
      <button type="button" mat-flat-button>
        <mat-icon>event</mat-icon>
        <span>Reservation</span>
      </button>
      <button type="button" mat-flat-button>
        <mat-icon>shopping_cart</mat-icon>
        <span>Add to cart</span>
      </button>
    </div>
  </div>
</div>
