@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-on-primary),
    )
  );
}

.selected-theme {
  @include mat.menu-overrides(
    (
      item-label-text-color: light-dark(#111827, #ffffff),
      item-icon-color: light-dark(#111827, #ffffff),
    )
  );
}
