@use '@angular/material' as mat;

mat-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: light-dark(#f9fafb, #111827),
    )
  );

  @include mat.icon-button-overrides(
    (
      icon-color: light-dark(#64748b, #9ca3af),
    )
  );
}

.selected-theme {
  @include mat.menu-overrides(
    (
      item-label-text-color: var(--mat-sys-primary),
      item-icon-color: var(--mat-sys-primary),
    )
  );
}
