html {
  color-scheme: light dark;

  --mat-sys-primary: light-dark(#ffffff, #111827);
  --mat-sys-on-primary: light-dark(#6b7280, #d3d3d3);
  --mat-sys-surface: light-dark(#f9fafb, #1f2937);
  --mat-sys-on-surface: light-dark(#6b7280, #d3d3d3);
  --mat-sys-surface-container: light-dark(#ffffff, #374151);
}

body {
  background: light-dark(#f9fafb, #1f2937);
  color: light-dark(#6b7280, #576775);
}
