@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
    )
  );
  @include mat.form-field-density(-2);
}

body {
  background: light-dark(#f9fafb, #1e293b);
  color: light-dark(#1e293b, #ffffff);
}

.dark {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
    )
  );
  @include mat.form-field-density(-3);
}

:root {
  // button
  @include mat.button-overrides(
    (
      filled-container-shape: var(--mat-sys-corner-small),
      outlined-container-shape: var(--mat-sys-corner-small),
    )
  );

  // form
  @include mat.form-field-overrides(
    (
      outlined-label-text-size: var(--mat-sys-body-medium-size),
      outlined-disabled-input-text-color: light-dark(#64748b, #9ca3af),
      outlined-disabled-label-text-color: light-dark(#64748b, #9ca3af),
    )
  );

  // menu
  @include mat.menu-overrides(
    (
      container-color: light-dark(#f9fafb, #1e293b),
      container-shape: 0px,
      divider-bottom-spacing: 0px,
      divider-top-spacing: 0px,
      divider-color: light-dark(#6b7280, #9ca3af),
    )
  );

  // nav
  @include mat.toolbar-overrides(
    (
      container-background-color: light-dark(#ffffff, #111827),
    )
  );

  // select
  @include mat.select-overrides(
    (
      panel-background-color: light-dark(#ffffff, #1e293b),
      disabled-trigger-text-color: light-dark(#64748b, #9ca3af),
    )
  );

  // sidenav
  @include mat.sidenav-overrides(
    (
      container-background-color: light-dark(#ffffff, #111827),
      content-background-color: light-dark(#f9fafb, #1e293b),
      container-shape: 0px,
      container-width: 300px,
    )
  );

  // list
  @include mat.list-overrides(
    (
      list-item-label-text-color: light-dark(#1a1b1f, #9ca3af),
      list-item-label-text-size: var(--mat-sys-body-medium-size),
      list-item-leading-icon-color: light-dark(#64748b, #9ca3af),
    )
  );

  // datepicker
  @include mat.datepicker-overrides(
    (
      calendar-container-background-color: light-dark(#ffffff, #111827),
    )
  );

  // dialog
  @include mat.dialog-overrides(
    (
      container-color: light-dark(#ffffff, #111827),
      subhead-color: light-dark(#64748b, #9ca3af),
      supporting-text-color: light-dark(#64748b, #9ca3af),
    )
  );

  // silde toggle
  @include mat.slide-toggle-overrides(
    (
      track-outline-color: light-dark(#005cbb, #abc7ff),
    )
  );

  // range slider
  @include mat.slider-overrides(
    (
      hover-state-layer-color: none,
      focus-state-layer-color: none,
      value-indicator-width: 30px,
      value-indicator-height: 30px,
      handle-height: 16px,
      handle-width: 16px,
    )
  );

  // table
  @include mat.table-overrides(
    (
      background-color: light-dark(#ffffff, #111827),
    )
  );
}
