@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
    )
  );
  @include mat.form-field-density(-2);
}

body {
  background: light-dark(#ffffff, #1f2937);
  color: light-dark(#1f2937, #ffffff);
}

.dark {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$azure-palette,
    )
  );
  @include mat.form-field-density(-2);
}
