@tailwind base;
@tailwind components;
@tailwind utilities;

.mdc-notched-outline__notch {
  border-style: none;
}

.mat-mdc-icon-button {
  line-height: normal;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  --mat-list-active-indicator-shape: 0px;
}
