.row {
  display: flex;
  justify-content: space-around;
}

.footer-col {
  width: 25%;
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
.footer {
  background-color: #ffffff;
  padding: 70px;
}

.footer-col h4 {
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  font-family: "Cuprum", sans-serif;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  font-family: "Cuprum", sans-serif;
  font-weight: 300;
  color: black;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
}
.footer-col ul li a:hover {
  padding-left: 8px;
}
.social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(233, 232, 232);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
  cursor: pointer;
}
.copyright {
  text-align: center;
  margin-top: 40px;
}

.copyright p {
  font-size: 16px;
  color: #555;
  font-family: "Cuprum", sans-serif;
}
