<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Pages</h4>
        <ul>
          <li><a routerLink="">Home</a></li>
          <li><a routerLink="/dashboard">Dashboard</a></li>
          <li><a *ngIf="!isLoggedIn" routerLink="/signIn">Sign in</a></li>
          <li>
            <a *ngIf="isLoggedIn" routerLink="/studentinfo">Users Info</a>
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>get help</h4>
        <ul>
          <li><a>FAQ</a></li>
          <li><a>Contact Us</a></li>
          <li><a>returns</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/Bayzed07"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://github.com/Bayzed-Meer"
            ><i class="fab fa-github"></i
          ></a>
          <a href="https://www.linkedin.com/in/bayzed-meer/"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>&copy; I-Library. All rights reserved.</p>
    </div>
  </div>
</footer>
