.dashboard-container {
  display: flex;
  gap: 30px;
  padding: 20px;
  height: 92vh;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
}

.left-section {
  padding-right: 10px;
}

.right-section {
  width: 75%;
  height: 75vh;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
}

mat-list-item {
  transition: background-color 0.3s ease;
}

mat-list-item:hover {
  cursor: pointer;
  background-color: #ddd;
}
