<div class="profile-container">
  <div class="profile-section">
    <h2 class="profile-section-title">Preferences</h2>
    <div class="profile-form-grid">
      <div>
        <h3 class="profile-title">Theme</h3>
        <p class="profile-subtitle">
          Choose between light and dark mode for your interface to suit your
          preference.
        </p>
        <mat-slide-toggle> Dark Mode </mat-slide-toggle>
      </div>

      <div>
        <h3 class="profile-title">Notifications</h3>
        <p class="profile-subtitle">
          Enable or disable notifications for important updates, alerts, and
          promotional offers.
        </p>
        <mat-slide-toggle> Enabled Notifications </mat-slide-toggle>
      </div>
    </div>
  </div>
</div>
