<div class="auth-container">
  <div class="auth-logo-wrapper" routerLink="">
    <img src="logo.png" alt="logo" class="auth-logo-icon" />
    <h1 class="auth-logo-text">Librify</h1>
  </div>
  <div class="auth-form-wrapper">
    <div class="auth-form-left-container">
      <div class="auth-form-left">
        <h1 class="auth-form-title">Activate Your Account</h1>
        <p class="auth-form-subtitle">
          Enter the OTP sent to your email to activate your account.
        </p>
        <form>
          <mat-form-field class="auth-form-field">
            <mat-label>OTP</mat-label>
            <input matInput type="number" />
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>

          <button mat-flat-button type="submit" class="w-full">
            <mat-icon>check_circle</mat-icon>
            <span>Activate Account</span>
          </button>

          <p class="auth-form-suggestion">
            Didn't receive the code?
            <span class="auth-form-suggestion-link cursor-pointer">
              Resend
            </span>
          </p>
        </form>
      </div>
    </div>

    <div class="auth-form-right-container">
      <div class="auth-form-right">
        <img
          src="{{
            appTheme() === 'dark' ? 'activate-dark.png' : 'activate-light.png'
          }}"
          alt="otp-image"
          class="auth-form-right-image" />
      </div>
    </div>
  </div>
</div>
