.book-details-container {
  display: flex;
  gap: 50px;
  padding: 50px;
  width: 80%;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  margin-left: 150px;
  margin-top: 20px;
}

button {
  background-color: #6cb6d8;
}

p {
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
  line-height: 23px;
}

.single-book {
  width: 150%;
  height: 20vh;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.image-container {
  flex: 0 0 40%;
}

.image-container img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.details-container {
  flex: 0 0 55%;
}

.details-container h2 {
  margin-top: 0;
}

.details-container p {
  margin-bottom: 10px;
}
