<div class="img">
  <img [src]="banner" alt="banner" class="full-width" />
</div>

<div class="about-box">
  <h2 class="about-title">About our Library</h2>
  <div class="about-data">
    <div class="about-img">
      <img [src]="image" />
    </div>
    <div class="about-details">
      <p class="about-text">
        I-Library is a cutting-edge library management system that brings the
        power of Internet of Things (IoT) technology to the realm of library
        services. This project is designed to redefine the traditional library
        experience, providing users with an innovative platform to seamlessly
        interact with library resources. As a user-centric system, I-Library
        incorporates a robust membership system, allowing students, library
        staff, and administrators to register and access a wide range of books.
        <br />
        One of the key features of I-Library is its intuitive interface, which
        simplifies the book transaction process. Users can easily request and
        borrow books, with the system enforcing a structured return policy.
        Leveraging IoT capabilities, I-Library introduces a dynamic and
        efficient approach to library management, ensuring a smoother and more
        connected experience for all stakeholders. The project envisions a
        comprehensive solution that goes beyond basic bookkeeping. Users can
        enjoy a personalized profile section where they can view their borrowing
        history, make profile updates, and explore various categories of books
        tailored to different departments. <br />
        The implementation of RFID technology enhances security and streamlines
        access to the library, requiring students to scan their ID cards for
        entry and exit. Furthermore, I-Library introduces a thoughtful
        authentication system using JSON Web Tokens (JWT), ensuring secure
        logins for students, library staff, and administrators. In summary,
        I-Library is not just a library management system; it is a
        forward-thinking project that combines technological innovation with
        user convenience. By embracing IoT, RFID, JWT, and other advanced
        technologies, I-Library is poised to revolutionize library management,
        making it a standout solution in the landscape of educational technology
        projects.
      </p>
    </div>
  </div>
  <hr />
</div>

<app-footer></app-footer>
