<div class="img">
  <img [src]="banner" alt="banner" class="full-width" />
</div>

<div class="about-box">
  <h2 class="about-title">About our Library</h2>
  <div class="about-data">
    <div class="about-img">
      <img [src]="image" />
    </div>
    <div class="about-details">
      <p class="about-text">
        University of Information Technology and Sciences is the first IT-Based
        University in Bangladesh. Therefore, it is a reputed university in the
        country with thousands of tech-enthusiastic students. As the first
        IT-based private university, UITS is playing an important role in the
        field of information technology and innovative technology. Considering
        the noble task in distributing knowledge, UITS have worked with the
        attitude of service to create skilled human resources. Beautiful campus
        environment, study and research opportunities, co-curricular activities,
        industrial tour etc., have given new height to UITS. Intensive
        monitoring and friendly conduct to every student of UITS is playing a
        significant role in the development of student intellectual level. And
        for this reason, UITS is the first priority for all undergraduate
        students.
        <br />
        <br />
        This is UITS Library management website, where you can get varieties of
        books. After getting a membership, every student can request books which
        they want to read through this website. Students have to return books
        following the return policy. .<br />
        <br />
        There are many facilities Available in our library management system,
        where students/staffs can handle books transaction procedure through
        understanding this website
        <br />
        <br />
        This website will be an IOT-based Library management system; we are
        working!
      </p>
    </div>
  </div>
  <hr />
</div>

<app-footer></app-footer>
