<ul fxLayout="row" fxLayoutAlign="space-between center" class="navbar">
  <li class="brand_name" routerLink="">I-library</li>
  <li class="link">
    <button mat-flat-button routerLink="" class="tabs">Home</button>
    <button mat-flat-button routerLink="/studentinfo" class="tabs">Student Info</button>
    <button mat-flat-button routerLink="/books" class="tabs">Books</button>
    <button mat-flat-button routerLink="/signIn" class="tabs">SignIn</button>
    <button mat-flat-button routerLink="/signUp" class="tabs">SignUp</button>
    <button mat-flat-button routerLink="/create/book" class="tabs">
      Create Book
    </button>
  </li>
</ul>
<router-outlet></router-outlet>
