<!-- navbar -->
<div *ngIf="showNavbar" class="flex justify-between items-center bg-first">
  <!-- logo starts -->
  <div class="flex px-8 py-3 gap-2 hover: cursor-pointer" routerLink="">
    <div
      class="px-[10px] bg-second flex items-center justify-center border-0 rounded-md"
    >
      <span class="text-3xl font-myFont font-semibold text-white">i</span>
    </div>
    <div class="flex items-center justify-center">
      <span class="text-3xl font-myFont font-semibold text-second"
        >Library</span
      >
    </div>
  </div>
  <!-- logo ends -->

  <!-- nav links starts -->
  <div class="flex font-myFont text-2xl text-second px-8 gap-10">
    <div
      routerLink=""
      class="hover:cursor-pointer hover:text-blue-700 hover:ease-in-out"
    >
      Home
    </div>
    <div
      routerLink="/books"
      class="hover:cursor-pointer hover:text-blue-700 hover:ease-in-out"
    >
      Books
    </div>
    <div class="hover:cursor-pointer hover:text-blue-700 hover:ease-in-out">
      About Us
    </div>
    <div class="hover:cursor-pointer hover:text-blue-700 hover:ease-in-out">
      Contact Us
    </div>
    <div
      *ngIf="!isLoggedIn"
      routerLink="/signIn"
      class="bg-second text-first px-3 pt-[2px] text-xl border-0 rounded-xl hover:cursor-pointer hover:text-slate-300 hover:ease-in-out"
    >
      Sign in
    </div>
    <div
      *ngIf="isLoggedIn"
      routerLink="/dashboard"
      class="hover:cursor-pointer hover:text-blue-700 hover:ease-in-out"
    >
      Dashboard
    </div>
    <div
      *ngIf="isLoggedIn && userDetails?.role === 'admin'"
      routerLink="/studentinfo"
      class="hover:cursor-pointer hover:text-blue-700 hover:ease-in-out"
    >
      Users Info
    </div>
    <!-- nav links ends -->
  </div>
</div>
<router-outlet></router-outlet>
