<div class="container">
  <div class="sidenav">
    <!-- Left side: Filters -->
    <div>
      <div class="searchbar">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input
            type="text"
            pInputText
            placeholder="Search..."
            class="search"
            [(ngModel)]="searchTitle"
            (input)="filterBooks()"
          />
        </span>
      </div>

      <div class="filter-section">
        <p>Categories</p>
        <mat-chip-listbox aria-label="Categories">
          <mat-chip-option
            *ngFor="let category of categories"
            (click)="selectCategory(category)"
            [ngClass]="{ selected: category === selectedCategory }"
          >
            {{ category }}
          </mat-chip-option>
        </mat-chip-listbox>
      </div>

      <div class="filter-section">
        <p>Ratings</p>
        <p-rating
          [(ngModel)]="ratings"
          (click)="selectRating(ratings)"
        ></p-rating>
      </div>
    </div>
  </div>
  <!-- Right side: Display filtered books -->
  <div class="books-div">
    <div class="card-container">
      <mat-card *ngFor="let book of filteredBooks">
        <div class="book-details">
          <mat-card-header>
            <mat-card-title class="book-title">{{ book.title }}</mat-card-title>
            <mat-card-subtitle class="book-author">
              Author: {{ book.author }}</mat-card-subtitle
            >
          </mat-card-header>
        </div>

        <div class="books">
          <img
            [src]="getImageUrl(book)"
            alt="{{ book.title }}"
            class="book-image"
          />
        </div>

        <div class="buttons-div">
          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              (click)="viewBookDetails(book)"
            >
              View Details
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="requestBook(book)"
            >
              Request Book
            </button>
          </mat-card-actions>
        </div>
      </mat-card>
    </div>
    <div *ngIf="showPaginator" class="paginator">
      <mat-paginator
        [length]="filteredBooks.length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageChanged($event)"
      ></mat-paginator>
    </div>
  </div>
</div>
<app-footer></app-footer>
