<div class="gap-3 py-2 lg:py-6 sm:flex sm:items-start">
  <div class="shrink-0 space-y-2 sm:w-48 md:w-72">
    <app-rating-stars />

    <div class="space-y-0.5">
      <p class="text-base font-semibold text-gray-900 dark:text-white">
        Jese Leos
      </p>
      <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
        November 18 2023 at 15:35
      </p>
    </div>
  </div>

  <div class="mt-4 min-w-0 flex-1 space-y-2 sm:mt-0">
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      It’s fancy, amazing keyboard, matching accessories. Super fast, batteries
      last more than usual, everything runs perfect in this computer. Highly
      recommend!
    </p>

    <div class="flex items-center gap-4">
      <p class="text-sm font-medium text-gray-500 dark:text-gray-400">
        Was it helpful to you?
      </p>
      <div class="flex items-center gap-2">
        <button type="button" mat-icon-button>
          <mat-icon>thumb_up</mat-icon>
        </button>
        <span class="text-sm font-medium">1</span>
        <button mat-icon-button type="button">
          <mat-icon>thumb_down</mat-icon>
        </button>
        <span class="text-sm font-medium">0</span>
      </div>
    </div>
  </div>
</div>
