.container {
  min-width: 100vw;
  padding: 25px;
  display: flex;
  gap: 50px;
  margin-bottom: 280px;
}

.table {
  width: 60%;
}
.filter {
  width: 100%;
}
mat-form-field matinput {
  background-color: lightblue;
  font-size: 16px;
  /* Add more styles as needed */
}

mat-label {
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
}

th {
  font-size: 20px;
  font-weight: bold;
  font-family: "Cuprum", sans-serif;
  padding: 20px;
}
td {
  padding-left: 20px;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
}
mat-paginator {
  margin-top: 10px;
  font-family: "Cuprum", sans-serif;
  font-size: 18px;
}
.noData {
  padding: 15px;
}
p {
  font-family: "Cuprum", sans-serif;
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
}

.soundTable {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

hr {
  border: 1px solid black;
}

.table-condition-title {
  text-align: center;
  padding: 0px 25px;
  margin-top: 60px;
}
.table1 {
  flex: 0 0 25%;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 25%;
  margin-bottom: 15px;
  border: 1px solid gray;
  background-color: rgb(53, 227, 53);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s infinite; /* Adjust the duration as needed */
}
