@use '@angular/material' as mat;

.navbar {
  @apply fixed top-0 z-10 max-h-14;

  &-container {
    @apply flex justify-between items-center w-full mx-auto max-w-8xl;
  }

  &-logo {
    &-container {
      @apply flex items-center gap-2;
    }
    &-wrapper {
      @apply flex items-center gap-2 -ml-1 md:-ml-2;
    }
    &-icon {
      @apply w-10 h-10 lg:w-12 lg:h-12 cursor-pointer;
    }
    &-title {
      @apply text-lg lg:text-xl font-medium text-title-light dark:text-text-dark;
    }
    &-search {
      @apply hidden lg:flex ml-4 bg-input-light dark:bg-input-dark rounded-md;
      @include mat.form-field-density(-5);
      @include mat.form-field-overrides(
        (
          outlined-input-text-placeholder-color: light-dark(#44484e, #9ca3af),
          outlined-outline-color: light-dark(#d1d5db, #374151),
          outlined-hover-outline-color: transparent,
          outlined-focus-outline-color: transparent,
          outlined-container-shape: var(--mat-sys-corner-small),
        )
      );
    }
  }

  &-action {
    &-wrapper {
      @apply flex items-center gap-2;
    }
    &-search-icon {
      @apply flex -mr-2 lg:hidden;
    }
    &-theme-icon {
      @apply -mx-1 md:-mx-0;
    }
    &-button {
      @apply hidden sm:flex;
      @include mat.button-overrides(
        (
          filled-horizontal-padding: 16px,
          filled-container-height: 32px,
        )
      );
    }
    &-menu-icon {
      @apply sm:hidden -mr-3 sm:mr-0;
    }
  }

  &-avatar {
    &-img {
      @apply w-8 h-8 lg:w-9 lg:h-9 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 hover:ring-primary-light hover:dark:ring-primary-dark cursor-pointer transition-all duration-200;
    }
    &-name {
      &-container {
        @apply relative inline-flex items-center justify-center w-8 h-8 lg:w-9 lg:h-9 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600 hover:bg-gray-300 hover:dark:bg-gray-700 cursor-pointer transition-all duration-200;
      }
      &-text {
        @apply text-sm font-medium text-gray-600 dark:text-gray-300;
      }
    }
  }

  &-menu {
    &-container {
      @apply hidden sm:flex mr-8;
    }
    &-list {
      @apply flex gap-6;
    }
    &-item {
      @apply text-sm lg:text-base font-medium text-title-light dark:text-text-dark hover:text-primary-light hover:dark:text-primary-dark cursor-pointer transition-colors duration-200;
    }
  }

  &-mobile-menu {
    &-container {
      @apply sm:hidden w-full pb-2 fixed top-[50px] z-10 bg-body-primary-light dark:bg-body-primary-dark;
    }
    &-list {
      @apply px-4 py-2  w-full;
    }
    &-item {
      @apply text-sm font-medium text-title-light dark:text-text-dark hover:text-primary-light hover:dark:text-primary-dark cursor-pointer transition-colors duration-200;
    }
  }
}
