.profile-div {
  padding: 2px 15px 15px 15px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  line-height: 32px;
  text-align: center;
}

.main {
  width: 35%;
  height: 80%;
  margin-top: 25px;
  object-fit: cover;
}

hr {
  border-top: 1px solid;
  margin-bottom: 10px;
}

p {
  font-family: "Cuprum", sans-serif;
  color: black;
}

img {
  width: 130px;
  height: 120px;
  border-radius: 100px;
}

button {
  text-align: center;
  font-family: "Cuprum", sans-serif;
}

.pass {
  margin-left: 2%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.deatils {
  font-family: "Cuprum", sans-serif;
}
