<div class="auth-container">
  <div class="auth-logo-wrapper" routerLink="">
    <img src="logo.png" alt="logo" class="auth-logo-icon" />
    <h1 class="auth-logo-text">Librify</h1>
  </div>
  <div class="auth-form-wrapper">
    <div class="auth-form-right-container">
      <div class="auth-form-right">
        <img
          src="{{
            appTheme() === 'dark' ? 'reset-dark.png' : 'reset-light.png'
          }}"
          alt="reset-image"
          class="auth-form-right-image" />
      </div>
    </div>

    <div class="auth-form-left-container">
      <div class="auth-form-left">
        <h1 class="auth-form-title">Reset your password</h1>
        <p class="auth-form-subtitle">
          Enter a new password to access your account.
        </p>
        <form>
          <mat-form-field class="auth-form-field">
            <mat-label>New Password</mat-label>
            <input matInput type="password" />
            <mat-icon matSuffix>visibility_off</mat-icon>
          </mat-form-field>

          <mat-form-field class="auth-form-field">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" />
            <mat-icon matSuffix>visibility_off</mat-icon>
          </mat-form-field>

          <button mat-flat-button type="submit" class="w-full">
            <mat-icon>lock_reset</mat-icon>
            <span> Reset Password</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
