<div class="auth-container">
  <div class="auth-logo-wrapper">
    <img src="logo.png" alt="logo" class="auth-logo-icon" />
    <p class="auth-logo-text">Librify</p>
  </div>
  <div class="auth-form-wrapper">
    <h1 class="auth-form-title">Reset your password</h1>
    <p class="auth-form-subtitle">
      Create a new password to regain access to your account. Ensure your
      password is strong and secure.
    </p>
    <form>
      <mat-form-field class="form-field">
        <mat-label>New Password</mat-label>
        <input matInput type="password" />
        <mat-icon matSuffix>visibility_off</mat-icon>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" />
        <mat-icon matSuffix>visibility_off</mat-icon>
      </mat-form-field>

      <button mat-flat-button type="submit" class="w-full">
        <mat-icon>lock_reset</mat-icon>
        Reset Password
      </button>
    </form>
  </div>
</div>
