.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-inside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.form {
  width: 550px;
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

.card {
  background-color: aliceblue;
  text-align: center;
  margin: 25px;
  padding: 25px;
  font-weight: bold;
  font-size: 20px;
}
