<div class="container">
  <div class="form">
    <h1>Sign-Up</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-inside">
        <div>
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Student ID</mat-label>
            <input matInput formControlName="studentId" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Library ID</mat-label>
            <input matInput formControlName="libraryId" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Department</mat-label>
            <input matInput formControlName="department" required />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              formControlName="password"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hidePassword = !hidePassword; (false)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="hideConfirmPassword ? 'password' : 'text'"
              formControlName="confirmPassword"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hideConfirmPassword = !hideConfirmPassword; (false)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hideConfirmPassword"
            >
              <mat-icon>{{
                hideConfirmPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="phoneNumber" required />
          </mat-form-field>
        </div>
      </div>
      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onSubmit()"
      >
        Sign Up
      </button>
    </form>
  </div>
  <div class="card">
    <div *ngIf="card_data">
      <p>LID</p>
      <p>ID: {{ card_data.feeds[0].field1 }}</p>
    </div>
  </div>
</div>
