<div class="container">
  <div class="form">
    <p>Sign-Up</p>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-inside">
        <div>
          <div class="form-field">
            <span class="p-float-label">
              <input
                pInputText
                id="username"
                formControlName="username"
                class="form-field2"
              />
              <label htmlFor="username">Username</label>
            </span>
          </div>
          <div class="form-field">
            <span class="p-float-label">
              <input
                pInputText
                id="studentId"
                formControlName="studentId"
                class="form-field2"
              />
              <label htmlFor="studentId">Student ID</label>
            </span>
          </div>
          <div class="form-field">
            <span class="p-float-label">
              <input
                pInputText
                id="libraryId"
                formControlName="libraryId"
                class="form-field2"
              />
              <label htmlFor="libraryId">Library ID</label>
            </span>
          </div>
          <div class="form-field">
            <span class="p-float-label">
              <input
                pInputText
                id="department"
                formControlName="department"
                class="form-field2"
              />
              <label htmlFor="department">Department</label>
            </span>
          </div>
        </div>

        <div>
          <div class="form-field">
            <span class="p-float-label">
              <input
                pInputText
                id="email"
                formControlName="email"
                class="form-field2"
              />
              <label htmlFor="email">Email</label>
            </span>
          </div>

          <div class="form-field">
            <span class="p-float-label">
              <p-password formControlName="password" [toggleMask]="true"
                ><ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="suggestion">Suggestions</p>
                  <ul style="line-height: 1.5">
                    <li>At least one lowercase</li>
                    <li>At least one uppercase</li>
                    <li>At least one numeric</li>
                    <li>Minimum 8 characters</li>
                  </ul>
                </ng-template></p-password
              >
              <label for="password">Password</label>
            </span>
          </div>

          <div class="form-field">
            <div class="password">
              <span class="p-float-label">
                <p-password
                  [feedback]="false"
                  [toggleMask]="true"
                  formControlName="confirmPassword"
                ></p-password>
                <label for="password">Confirm Password</label>
              </span>
            </div>
          </div>

          <div class="form-field">
            <span class="p-float-label">
              <input
                pInputText
                id="phoneNumber"
                formControlName="phoneNumber"
                class="form-field2"
              />
              <label htmlFor="phoneNumber">Phone Number</label>
            </span>
          </div>
        </div>
      </div>
      <div class="button">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onSubmit()"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
  <div class="card" *ngIf="card_data">
    Library ID : {{ card_data.feeds[0].field1 }}
  </div>
</div>
