<div class="container">
  <mat-form-field class="filter">
    <mat-label>Filter...</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Bayzed" #input />
  </mat-form-field>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Number Column -->
      <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Number</th>
        <td mat-cell *matCellDef="let row">
          {{ dataSource.data.indexOf(row) + 1 }}
        </td>
      </ng-container>

      <!-- Student Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Student Name</th>
        <td mat-cell *matCellDef="let row">{{ row.studentName }}</td>
      </ng-container>

      <!-- Library ID Column -->
      <ng-container matColumnDef="libraryId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Library ID</th>
        <td mat-cell *matCellDef="let row">{{ row.libraryId }}</td>
      </ng-container>

      <!-- Book Name Column -->
      <ng-container matColumnDef="bookName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Book Name</th>
        <td mat-cell *matCellDef="let row">{{ row.bookName }}</td>
      </ng-container>

      <ng-container matColumnDef="issuedDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issued Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.borrowDate | date : "dd MMMM, y" }}
        </td>
      </ng-container>

      <!-- Return Date Column -->
      <ng-container matColumnDef="returnDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Return Date</th>
        <td mat-cell *matCellDef="let row">
          {{ row.returnDate | date : "dd MMMM, y" }}
        </td>
      </ng-container>

      <!-- Actions Column (Only Accept Button) -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button mat-fab color="primary" class="icon" (click)="return(row)">
            <mat-icon>check</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6" class="noData">No request yet!</td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of requested books"
    ></mat-paginator>
  </div>
</div>
