<div
  class="flex-center-col min-w-full min-h-full bg-primary-light dark:bg-primary-dark p-6">
  <div class="flex-center pb-2">
    <img src="logo.png" alt="logo" class="w-16 h-16 mx-auto" />
    <p class="text-2xl">Librify</p>
  </div>
  <div class="bg-surface-light dark:bg-surface-dark p-6 rounded-md">
    <p class="text-lg pb-1">Create an account</p>
    <p class="text-sm dark:text-on-surface-dark pb-4">
      Join librify and unlock a world of knowledge! <br />
      Start your reading adventure today.
    </p>
    <form>
      <mat-form-field class="w-full dark:bg-form-field-dark">
        <mat-label>Full Name</mat-label>
        <input matInput />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </form>
  </div>
</div>
