<mat-toolbar class="flex-center-between">
  <div class="flex-center-between gap-2">
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <div class="flex-center-between gap-2">
      <img
        [src]="'logo.png'"
        alt="Librify Logo"
        class="w-8 h-8 sm:w-10 sm:h-10 md:w-14 md:h-14" />
      <span class="text-lg md:text-xl font-medium">Librify</span>
    </div>
  </div>

  <div>
    <button routerLink="/register">Register</button>
  </div>

  <div>
    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>{{ themeService.selectedTheme()?.icon }}</mat-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
      @for (theme of themeService.getThemes(); track theme.name) {
        <button
          [class.selected-theme]="
            themeService.selectedTheme()?.name === theme.name
          "
          mat-menu-item
          (click)="themeService.setTheme(theme.name)">
          <mat-icon>{{ theme.icon }}</mat-icon>
          <span>{{ theme.name | titlecase }}</span>
        </button>
      }
    </mat-menu>
  </div>
</mat-toolbar>
