<div class="faq-container">
  <div class="default-wrapper">
    <h1 class="faq-title">FAQs On Library Management Software</h1>
    <div class="faq-grid-wrapper">
      <div class="faq-grid">
        <cdk-accordion class="faq-accordion" [multi]="true">
          @for (item of items; track item; let index = $index) {
            <cdk-accordion-item
              #accordionItem="cdkAccordionItem"
              class="faq-accordion-item">
              <button
                class="faq-accordion-item-header"
                (click)="accordionItem.toggle()">
                {{ item }}
                <span class="faq-accordion-item-description">
                  <mat-icon>{{
                    accordionItem.expanded ? 'remove' : 'add'
                  }}</mat-icon>
                </span>
              </button>
              @if (accordionItem.expanded) {
                <div
                  class="faq-accordion-item-body"
                  [style.display]="accordionItem.expanded ? '' : 'none'">
                  Lorem ipsum dolor, sit amet, consectetur adipisicing elit.
                  Perferendis excepturi incidunt ipsum deleniti labore, tempore
                  non nam doloribus blanditiis veritatis illo autem iure aliquid
                  ullam rem tenetur deserunt velit culpa?
                </div>
              }
            </cdk-accordion-item>
          }
        </cdk-accordion>
        <cdk-accordion class="faq-accordion" [multi]="true">
          @for (item of items; track item; let index = $index) {
            <cdk-accordion-item
              #accordionItem="cdkAccordionItem"
              class="faq-accordion-item">
              <button
                class="faq-accordion-item-header"
                (click)="accordionItem.toggle()">
                {{ item }}
                <span class="faq-accordion-item-description">
                  <mat-icon>{{
                    accordionItem.expanded ? 'remove' : 'add'
                  }}</mat-icon>
                </span>
              </button>
              @if (accordionItem.expanded) {
                <div
                  class="faq-accordion-item-body"
                  [style.display]="accordionItem.expanded ? '' : 'none'">
                  Lorem ipsum dolor, sit amet, consectetur adipisicing elit.
                  Perferendis excepturi incidunt ipsum deleniti labore, tempore
                  non nam doloribus blanditiis veritatis illo autem iure aliquid
                  ullam rem tenetur deserunt velit culpa?
                </div>
              }
            </cdk-accordion-item>
          }
        </cdk-accordion>
      </div>
    </div>
  </div>
</div>
