<div class="banner-container">
  <div class="default-wrapper banner-main">
    <div class="banner-content">
      <h1 class="banner-content-title">Built for Success, Loved by Many ❤️</h1>
      <p class="banner-content-subtitle">
        Over 500,000 students and professionals trust librify to achieve their
        learning goals. Start your learning journey today!
      </p>
    </div>
    <div class="banner-image">
      <img
        src="{{
          appTheme() === 'dark'
            ? 'celebration-dark.png'
            : 'celebration-light.png'
        }}"
        alt="celebration"
        class="banner-image" />
    </div>
  </div>
</div>
