.container {
  width: 350px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 28px;
  font-family: "Cuprum", sans-serif;
  text-align: center;
  padding-top: 15px;
}

.suggestion {
  font-size: 16px;
  font-family: "Cuprum", sans-serif;
}

ul {
  font-size: 16px;
  font-family: "Cuprum", sans-serif;
  list-style-type: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}

button {
  font-family: "Cuprum", sans-serif;
  font-size: 16px;
}

.ID,
.password {
  font-family: "Cuprum", sans-serif;
  margin-top: 25px;
}

.sID {
  font-family: "Cuprum", sans-serif;
  width: 234px;
}
