<div class="container">
  <div class="form">
    <h1>Change Password</h1>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Student ID</mat-label>
        <input matInput formControlName="studentId" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Current Password</mat-label>
        <input
          matInput
          [type]="hideCurrentPassword ? 'password' : 'text'"
          formControlName="currentPassword"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideCurrentPassword = !hideCurrentPassword; (false)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideCurrentPassword"
        >
          <mat-icon>{{
            hideCurrentPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field>
        <mat-label>New Password</mat-label>
        <input
          matInput
          [type]="hideNewPassword ? 'password' : 'text'"
          formControlName="newPassword"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideNewPassword = !hideNewPassword; (false)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideNewPassword"
        >
          <mat-icon>{{
            hideNewPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="onSubmit()"
      >
        Change Password
      </button>
    </form>
  </div>
</div>
