<div class="container">
  <div class="form">
    <p>Change Password</p>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="ID">
        <span class="p-float-label">
          <input
            pInputText
            formControlName="studentId"
            class="sID"
            pAutoFocus
          />
          <label htmlFor="studentId">Student ID</label>
        </span>
      </div>

      <div class="form-field">
        <div class="password">
          <span class="p-float-label">
            <p-password
              [feedback]="false"
              [toggleMask]="true"
              formControlName="currentPassword"
            ></p-password>
            <label for="Current Password">Current Password</label>
          </span>
        </div>
      </div>

      <div class="form-field">
        <div class="password">
          <span class="p-float-label">
            <p-password formControlName="newPassword" [toggleMask]="true"
              ><ng-template pTemplate="footer">
                <p-divider></p-divider>
                <p class="suggestion">Suggestions</p>
                <ul style="line-height: 1.5">
                  <li>At least one lowercase</li>
                  <li>At least one uppercase</li>
                  <li>At least one numeric</li>
                  <li>Minimum 8 characters</li>
                </ul>
              </ng-template></p-password
            >
            <label for="New Password"> New Password</label>
          </span>
        </div>
      </div>
      <div class="button">
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
