<div class="auth-container">
  <div class="auth-logo-wrapper">
    <img src="logo.png" alt="logo" class="auth-logo-icon" />
    <p class="auth-logo-text">Librify</p>
  </div>
  <div class="auth-form-wrapper">
    <h1 class="auth-form-title">Forgot your password?</h1>
    <p class="auth-form-subtitle">
      Don’t worry, we’ve got you covered! Enter your email address below, and
      we’ll send you a code to reset your password securely.
    </p>
    <form>
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <button mat-flat-button type="submit" class="w-full">
        <mat-icon>send</mat-icon>
        Send Verification Code
      </button>

      <p class="auth-form-suggestion">
        Don't have an account?
        <a routerLink="/register" class="auth-form-suggestion-link">Register</a>
      </p>
    </form>
  </div>
</div>
