<div class="container">
  <div class="form">
    <p>Update Profile</p>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <div class="form-field">
        <span class="p-float-label">
          <input pInputText formControlName="username" class="form-field2" />
          <label htmlFor="username">Username</label>
        </span>
      </div>
      <div class="form-field">
        <span class="p-float-label">
          <input pInputText formControlName="email" class="form-field2" />
          <label htmlFor="email">Email</label>
        </span>
      </div>
      <div class="form-field">
        <span class="p-float-label">
          <input pInputText formControlName="department" class="form-field2" />
          <label htmlFor="department">Department</label>
        </span>
      </div>

      <div>
        <div class="password form-field">
          <span class="p-float-label">
            <p-password
              [feedback]="false"
              [toggleMask]="true"
              formControlName="password"
            ></p-password>
            <label for="password">Current Password</label>
          </span>
        </div>

        <div class="form-field">
          <span class="p-float-label">
            <input
              pInputText
              formControlName="phoneNumber"
              class="form-field2"
            />
            <label htmlFor="phoneNumber">Phone Number</label>
          </span>
        </div>
      </div>

      <div class="button">
        <div class="file-input-container">
          <input
            type="file"
            accept="image/*"
            (change)="onFileSelected($event)"
            class="custom-file-input"
          />
          <label class="custom-file-label" for="fileInput">Change Image</label>
        </div>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onSubmit()"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>
