<div class="bg-first">
  <div class="mx-auto w-4/5 py-12">
    <div class="flex items-center justify-center gap-3">
      <img [src]="icon" alt="icon" />
      <span class="text-3xl text-second font-myFont font-semibold">
        OUR SERVICES
      </span>
    </div>
    <div class="flex justify-evenly py-12">
      <!-- left div starts -->
      <div>
        <p
          class="flex items-center justify-left font-myFont text-xl gap-4"
          *ngFor="let feature of features"
        >
          <img [src]="arrow" alt="points" />
          {{ feature.text }}
        </p>
      </div>
      <!-- left div ends -->

      <!-- right div starts -->
      <div>
        <img [src]="image" alt="contact" />
      </div>
      <!-- right div ends -->
    </div>
  </div>
</div>
