<div class="bg-first py-12">
  <div class="flex flex-col w-4/5 mx-auto">
    <div class="flex justify-center items-center">
      <div
        class="bg-second flex justify-center items-center gap-2 px-4 rounded-full"
      >
        <div class="font-myFont text-2xl text-white font-semibold">About</div>
        <div class="flex py-3 gap-2">
          <div
            class="px-[10px] bg-white flex items-center justify-center border-0 rounded-md"
          >
            <span class="text-2xl font-myFont font-semibold text-second"
              >i</span
            >
          </div>
          <div class="flex items-center justify-center">
            <span class="text-2xl font-myFont font-semibold text-white"
              >Library</span
            >
          </div>
        </div>
      </div>
    </div>
    <div class="flex py-12">
      <!-- left div starts -->
      <div class="w-1/2">
        <img [src]="image" alt="banner" />
      </div>
      <!-- left div ends -->

      <!-- right div starts -->
      <div class="w-1/2">
        <p class="font-myFont text-lg text-justify flex-grow px-16">
          I Library represents a paradigm shift in library management,
          integrating state-of-the-art IoT technology for enhanced efficiency.
          Specifically tailored for modern Library Management Systems (LMS), our
          software leverages RFID technology, ensuring real-time tracking of
          book entry, exit, and movement within the library. This advanced
          system utilizes sound sensors, contributing to a serene and focused
          atmosphere by managing noise pollution intelligently. <br /><br />
          Functioning as a comprehensive LMS, I Library not only maintains
          existing book data but dynamically adapts to accommodate new
          additions, offering a holistic solution for inventory control.
          Designed for diverse applications in educational institutions,
          colleges, universities, and beyond, it provides robust support to
          librarians, facilitating easy and user-centric library management. Our
          IoT-based Library Management System transcends traditional approaches
          by incorporating cutting-edge modules. RFID technology seamlessly
          tracks books, sound sensors enhance the library environment, and
          real-time entry and exit tracking ensures precise management. With I
          Library, the future of libraries unfolds, where IoT and LMS converge
          to create an efficient, smart, and interconnected library experience,
          redefining the way we interact with knowledge.
        </p>
      </div>
      <!-- right div ends -->
    </div>
  </div>
</div>
