@use './styles/material';
@use './styles/tailwind';
@use './styles/common';
@use './styles/ui-elements';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
