.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92vh;
}
.parent-div {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.left-div,
.right-div {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-div img {
  width: 400px;
  height: 400px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

p {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: bold;
}
.ID,
.password {
  font-family: "Cuprum", sans-serif;
  margin-top: 25px;
}

.sID {
  font-family: "Cuprum", sans-serif;
  width: 234px;
}

button {
  margin-top: 15px;
  font-family: "Cuprum", sans-serif;
  font-weight: bold;
}
