<section class="error">
  <div class="error-container">
    <div class="error-wrapper">
      <h1 class="error-title">404</h1>
      <p class="error-subtitle">
        Oops! The page you're looking for is missing.
      </p>
      <p class="error-text">
        Sorry, we can't find that page. You'll find lots to explore on the home
        page.
      </p>
      <button mat-flat-button type="button" routerLink="">
        <mat-icon>home</mat-icon>
        <span>Back to Home</span>
      </button>
    </div>
  </div>
</section>
